body {
  background: #7ac7ac;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header.list-movies-title {
  padding: 40px 0;
  background: #0f5142;
  background-image: url('../assets/image/header_bg.jpg'); /* Set the background image */
  background-size: cover; /* Adjust to ensure the entire image is visible */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  height: 200px; /* Adjust the height to better fit the image */
  color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for readability */
}

/* Style for the title text */
.list-movies-title h1 {
  margin: 0;
  font-size: 2rem;
}

main {
  padding: 20px;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between grid items */
  justify-content: center;
}

.movie-grid li {
  flex: 1 1 220px; /* Base size of grid items */
  max-width: 220px; /* Maximum width of a movie item */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-grid li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.movie-title,
.movie-year,
.movie-language,
.movie-country, 
.movie-awards{
  margin: 5px 0;
}

.movie-title {
  font-weight: bold;
  font-size: 1em;
}

.movie-year,
.movie-language,
.movie-country, 
.movie-awards {
  color: #666;
  font-size: 0.9em;
}

.movie-note {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  border-radius: 5px;
}

.movie:hover .movie-note {
  display: block;
}

/* Responsive design */
@media (max-width: 768px) {
  header.list-movies-title {
    font-size: 18px;
  }

  .movie-grid li {
    flex: 1 1 160px;
    max-width: 160px;
  }

  .movie-title,
  .movie-year,
  .movie-language,
  .movie-country, 
  .movie-awards {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  header.list-movies-title {
    font-size: 16px;
  }

  .movie-grid li {
    flex: 1 1 140px;
    max-width: 140px;
  }

  .movie-note {
    font-size: 0.7em;
  }
}
